<script>
	$(document).ready(function() {

		var fromFavorite = $('body').data('favorite');
		if (fromFavorite === true){
			$('body').data('favorite', false);
			$('#enter-ingreds').trigger('click');
		}else{
			RecipeMe.buildHomepage();
		}
	});

	$(document).ready(function(){
	  // Ajax Global Functions
	  $("#ajaxSpinnerImage").hide();
	  // Fires at beginning of Ajax Request
	  $(document).ajaxStart(function(){
	    $("#ajaxSpinnerImage").show();
	  }).ajaxStop(function(){
	      // Fires when Ajax Request is done
	      $("#ajaxSpinnerImage").hide();
	    })
	  .ajaxError(function( event, request, settings ) {
	    $( "#msg" ).append( "<li>Error requesting page " + settings.url + "</li>" );
	  });
	});
</script>
